---
---

@import "{{ site.theme }}";

div.shadow{
 -webkit-box-shadow: 2px 3px 4px -2px rgba(0,0,0,0.75);
 -moz-box-shadow: 2px 3px 4px -2px rgba(0,0,0,0.75);
 box-shadow: 2px 3px 4px -2px rgba(0,0,0,0.75); 
}

.afs-cancel{
 text-decoration: line-through;
}

table.mfa-protocols-table {
  color: black;
}

table.mfa-protocols-table td{
  text-align: center;
}

table.mfa-protocols-table td.protocol-column{
 white-space: nowrap;
 border-right: solid 1px #555;
 padding: 5px 15px;
}

table tr.upper-labels td{
  border-bottom: 1px transparent;
}

table .prot-cplx-mem{
  background-color: #f9f9f978;
}

table .prot-cplx-op{
  background-color: #f9f9f978;
}

table .prot-cplx-dev{
  border-right: solid 1px #555;
  background-color: #f9f9f978;
}

table td.authenticator-spec{
 white-space: nowrap;
}

table.mfa-protocols-table th{
  text-align: center;
}

th.rotate {
  /* Something you can count on */
  height: 80px;
  white-space: nowrap;
  vertical-align: bottom;
}

th.rotate > div {
  transform: 
    rotate(270deg);
  width: 30px;
}

th.rotate > div > span {
  padding: 0px 5px;
}

table .rl-header sup{
  font-size: 7pt;
  margin-left: 1px;
}

table .bp-header sup{
  font-size: 7pt;
  margin-left: 1px;
}

div.wrapper.full-page{
  width: 88%;
}

div.wrapper.full-page header{
  width: auto;
  float: none;
  position: inherit;
}

div.wrapper.full-page section{
  width: auto;
  float: none;
}

div.wrapper.full-page footer{
  width: auto;
  float: none;
  position: inherit;
}

table img.authr-img{
  vertical-align: text-bottom;
}

table img.authr-img.channel{
  vertical-align: bottom;
  height: 14pt;
  margin: auto 2px;
}

table img.authr-img.obj{
  vertical-align: bottom;
  height: 16pt;
}

table span.authr-data-obj{
  font-family: "Consolas";
  font-weight: bold;
}

table span.authr-afs{
  font-weight: bold; 
}

sup.authr-info{
  font-weight: bold;
  font-family: "Arial Black";
}

table img.mfap-pict {
  height: 26px;
  vertical-align: middle;
}

:target{
  background-color: #60a7fb75;
}

.loading-blur{
    z-index: 2000;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 80px;
    background-color: #fcfefced;
    text-align: center;
}

div.back-hook{
  position: fixed;
  right: 0px;
  top: 50px;
  width: 140px;
  display: table;
  background-color: #f9f9f9;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  padding-left: 4px;
  z-index:1999;
}

div.back-hook:hover{
  cursor: pointer;
}

div.back-hook .left{
    text-align: center;
    color: #5597ec;
    font-size: 20pt;
    display: table-cell;
    padding: 5px;
    vertical-align: middle;
}

div.back-hook .right{
  display: table-cell;
  vertical-align: middle;
  padding: 5px;
}
