---
---

@import "{{ site.theme }}";

div.wrapper.full-page{
  width: 86%;
}

div.wrapper.full-page header{
  width: auto;
  float: none;
  position: inherit;
}

div.wrapper.full-page section{
  width: auto;
  float: none;
}

div.wrapper.full-page footer{
  width: auto;
  float: none;
  position: inherit;
}

table img.authr-img{
  vertical-align: text-bottom;
}

table img.authr-img.channel{
  vertical-align: bottom;
  height: 14pt;
  margin: auto 2px;
}

table img.authr-img.obj{
  vertical-align: bottom;
  height: 16pt;
}

table span.authr-data-obj{
  font-family: "Consolas";
  font-weight: bold;
}

table span.authr-afs{
  font-weight: bold; 
}

sup.authr-info{
  font-weight: bold;
  font-family: "Arial Black";
}

table img.mfap-pict {
  height: 26px;
}
