<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="{{ "/assets/js/jquery.floatThead.min.js " }}" ></script> 
	<!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
	<script>
		jQuery( window ).resize(function() {
			var table_height = $(window).height()-250;
			if (table_height < 200){
				table_height = 200;
			}
			$(".table-wrapper.protocols").height(table_height);
		});
	
		function locateTarget(){
			var $target = jQuery(window.location.hash);
			var tagname = $target.prop("tagName").toLowerCase();
			if((tagname == "tr")){
				var $parent = $target.parent();
				while (($parent.prop("tagName").toLowerCase().indexOf("table") < 0)&&($parent.prop("tagName").toLowerCase().indexOf("html") < 0)){
					$parent = $parent.parent();
				}
				var offset = $parent.find("thead").height();
				if ($parent.parents('.table-wrapper').length) {
					var $wrapper_parent = $parent.parent();
					while (($wrapper_parent.attr('class').toLowerCase().indexOf("table-wrapper") < 0)&&($wrapper_parent.prop("tagName").toLowerCase().indexOf("html") < 0)){
						$wrapper_parent = $wrapper_parent.parent();
					}
					$wrapper_parent.scrollTop(0);
					jQuery('html,body').animate({
						scrollTop: $wrapper_parent.offset().top
					}, 400, 'swing');
					$wrapper_parent.animate({
						scrollTop: $wrapper_parent.scrollTop() + $target.position().top-offset
					}, 400, 'swing', loadingOver());
	
				}else{
					jQuery('html,body').animate({
						scrollTop: jQuery(window.location.hash).offset().top-offset
					}, 400, 'swing', loadingOver());
				}
			}
		}
		
		jQuery(document).ready(function(){
			var table_height = $(window).height()-250;
			if (table_height < 200){
				table_height = 200;
			}
			$(".table-wrapper.protocols").height(table_height);
			setTimeout(locateTarget, 100);
		});
		
		function loadingOver(){
			if ($(document).find('.loading-blur').length) {
				$('.loading-blur').hide(400);
			}
		}	
		
	</script>
  </head>
  <body>
    <div class="wrapper full-page">
      <header>
        <h1>{{ page.title }}</h1>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
	      {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
	      
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
